<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://articles-img.sftcdn.net/f_auto,t_article_cover_xl/auto-mapping-folder/sites/2/2022/04/clash-royale.jpg"
        alt=""
        height="200px"
        srcset=""
      />
    </div>
    <div class="small-card__title">
      <h1>
        <a href="#"> Ajustes de equilibrio</a>
      </h1>
    </div>
  </div>
  <div class="container__small-card-separator">
    <hr>
  </div>
</div>
